@{
    ViewData["Title"] = "Film";
}

<div class="text-center">
    <h1 class="display-4">Films</h1>
</div>

<div id="app">
    <div class="" v-if="isLoading">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div v-else>
        <div class="row">
            <div class="card mb-3" style="max-width: 350px; margin:5px;" v-for="film in films">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img :src="film.image" class="card-img" :alt="film.image">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                                <h5 class="card-title">{{film.title}}</h5>
                                <p class="card-text">{{film.releaseYear}}</p>
                                <p class="card-text">{{film.director.name}}</p>
                                <p class="card-text">{{film.genre.name}}</p>
                                <button type="button" class="btn btn-light" v-on:click="GetFilmDetails(film)">Meer info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    var app = new Vue({ 
        el: '#app', 
        data: { 
            films: null, 
            currentFilm: null,
            isLoading: true
        },
        created: function () {
            this.showFilms();
        },
        methods:{
            showFilms: async function() {
                await axios.get(`${baseUrl}films`)
                    .then((response) => {
                        this.films = response.data
                    })
                    .catch((e) => {
                        this.showErrorSection = true;
                        this.errorMessage = e.message
                    })
                    .finally(() => {
                        this.isLoading = false;
                    });
            },
            GetFilmDetails: async function(film) {
                
            }
        },
    });
    </script>
}