@{
    ViewData["Title"] = "Home Page";
}

@*Zal altijd op poort 7001 draaien*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To my Vue application for Programming Integration</p>
</div>
