<div class="quizContainer">
    <h1 >Welcome to the Film Quiz</h1>
    <h3>Click the play button to start</h3>
    <button class="btn btn-primary" @onclick="OnStart">START</button>
</div>

@code {
    [Parameter]
    public EventCallback OnStart { get; set; }
}
