@page "/films"
@using Imi.Project.Blazor.Components
@using Imi.Project.Blazor.Models
@inject ICRUDService<Film> service;

<h3>Films</h3>
<div>
    @if(currentFilm == null)
    { 
        <FilmList Items="films"
                  OnAdd="AddFilm"
                  OnEdit="EditFilm"
                  OnDelete="DeleteFilm">
        </FilmList>
    }
    else
    {
        <FilmForm filmItem="currentFilm"
                  OnSaveClick="SaveFilm"
                  OnCancelClick="RefreshFilms">
        </FilmForm>
    }
</div>

@code {
    private Film[] films;
    private Film currentFilm;
    private string error;

    protected override async Task OnInitializedAsync()
    {
        await RefreshFilms();
    }

    public async Task RefreshFilms() 
    { 
        films = (await service.GetAll()).ToArray(); 
        this.currentFilm = null; 
    }

    public void AddFilm()
    {
        this.currentFilm = new Film();
    }

    public async Task EditFilm(Film item)
    {
        this.currentFilm = await service.Get(item.Id);
    }

    public async Task SaveFilm(Film item)
    {
        try
        {
            if (currentFilm.Id == Guid.Empty)
                await service.Create(currentFilm);
            else
                await service.Update(currentFilm);

            await this.RefreshFilms();
        }
        catch(Exception ex)
        {
            this.error = ex.Message;
        }
    }

    public async Task DeleteFilm(Film item)
    {
        try
        {
            await service.Delete(item.Id);
            await this.RefreshFilms();
        }
        catch (Exception ex)
        {
            this.error = ex.Message;
        }
    }
}